// Fonts
$fontPrimary: 'Avenir', 'Arial';

// Font Weights:
$weightBlack: 900;
$weightHeavy: 800;
$weightMedium: 600;
$weightLight: 400;

// Font colors
$colorFontDark: #272F3F;
$colorFontMedium: #4F5776;
$colorFontLight: #8F94A7;

// Grays
$grayBorder: #E0E0E0;
$grayLoader: #F0F3FC;
$grayLight: #FAFBFD;

// Accent colors
$colorPrimary: #1B998B;
$colorPrimaryDark: #158A7D;
$colorPrimaryLight: #EDF7F6 ;

$colorSuccess: #09BC8A;
$colorFailure: #E7415C;
$colorWarning: #E9B44C;